<div class="container">
  <form action="">
      <input type="text" style="width: 200px;" class="form-control" placeholder="playlist Name" #name>
      <button class="btn btn-danger" (click)="createPlaylist(name.value)">create playlist</button>
  </form>
  <h1>Playlists</h1>
  <div class="row">
    <div class="cards" *ngIf="favourites!=undefined">
      <div class="card" style="width: 18rem;" *ngFor="let f of favourites" >
          <img [src]="f.pic" class="card-img-top"  alt="...">
          <div class="card-body">
              <h5 class="card-title">{{f.title}}</h5>
              <p class="card-text">this list containes {{f.recipes.length}} Recipe</p>
              <a  class="btn btn-danger" (click)="goFavorite(f.id)">Check list Recipes</a>
              <button  class="d btn btn-dark" (click)="deletePlaylist(f.id)">delete</button>
          </div>
      </div>
  </div>
  </div>
  
  
</div>
