<a routerLink="/dashbord/main" class="btn btn-light"> <i class="fa-solid fa-arrow-left fa-xl"></i></a>
<div class="container profile-page">
    <div class="row">
        <div class="col-xl-6 col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt=""> </div>
                        </div>
                        <div class="col-lg-8 col-md-4 col-12">
                           <h2> Les détails personnels</h2>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label>Fullname:</label>
                                <input type="text" class="form-control form-control-sm" >
                
                            </div>
                
                            <div class="col-md-12">
                                <label>User Name:</label>
                                <input type="text" class="form-control form-control-sm" >
                
                
                            </div>
                            <div class="col-md-12">
                                <label>Email:</label>
                                <input type="text" class="form-control form-control-sm" >
                
                        </div> 
                        </div>
                        <br>
                        
                        <button class="btn btn-primary">Modifier</button>
                        <br>
                        <div class="col-lg-8 col-md-4 col-12">

                        <h2>Mot de passe</h2>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label>Nouveau mot de passe:</label>
                                <input type="text" class="form-control form-control-sm" >
                
                            </div>
                
                            <div class="col-md-12">
                                <label>Confirmer nouveau mot de passe:</label>
                                <input type="text" class="form-control form-control-sm" >
                
                
                            </div>
                            <div class="col-md-12">
                                <label>Ancien mot de passe:</label>
                                <input type="text" class="form-control form-control-sm" >
                
                        </div>
                        </div>
                        </div>
                        <br> 
                        
                        <button class="btn btn-primary">Changer mot de passe</button>
                    </div>
                </div>                    
            </div>
        </div>
        