
<div class="container" *ngIf="favorites!=undefined" >
    <h1>{{favorites.title}}</h1>
    <div class="cards">
        <div class="card" *ngFor="let r of favorites.recipes;">
            <button  class="btn btn-danger" (click)="deleteRecipe(r.id)">delete</button>
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
              <img class="w-100" [src]="r.pic"/>
              <a href="#!">
                <div class="hover-overlay">
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.15)"
                  ></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a
                class="text-reset"
              >
                <h5 class="card-title mb-3" >
                  {{ r.title }}
                </h5>
              </a>
              <h6 href="" class="text-reset">
                Description : {{ r.description}}
              </h6>
              <h6>
                Duration :{{ r.duration }} min
              </h6>
              
            </div>
            <a class="btn btn-dark" (click)="checkRecipe(r.id)">Check Recipe</a>
          </div>
    </div>
</div>
