<div id="sidebar">
    <div>
    <img src="assets/logo.png" id="imglogo">
    <ul class="list-group">
        <li class="list-group-item"><a routerLink="recipes"><i class="fa-solid fa-bowl-food"></i> Recipes</a></li>
        <li class="list-group-item"><a routerLink="favorites"><i class="fa-solid fa-heart"></i> Favorites</a></li>
        <li class="list-group-item"><a routerLink="community"><i class="fa-solid fa-globe"></i> Community</a></li>
        <li class="list-group-item"><a routerLink="chef"><i class="fa-solid fa-utensils"></i> Chef</a></li>
    </ul>
</div>
<div class="row" *ngIf="!user">
    <a routerLink="login" class="bg-danger button col">Login</a>
    <a routerLink="signup" class="bg-dark button col">Signup</a>
</div>
<div>
    <button *ngIf="user" (click)="logout()">Logout</button>
</div>
</div>