<div class="container-fluid">
    <div class="row">
        <div id="search" >
                <input class="form-control col-3" type="search" placeholder="Search recipes"
                    aria-label="Search">
                <button class="btn btn-outline-success col" type="submit">Search</button>
        </div>
    </div>
</div>



<div>
    <h2>Learn, Cook & Eat Your Food</h2>

</div>

<!-- categories -->

<div class="button-container">
    <button class="btn btn-outline-secondary">Pizza</button>
    <button class="btn btn-outline-secondary">Dessert</button>
    <button class="btn btn-outline-secondary">Noodles</button>
    <button class="btn btn-outline-secondary">Tunisian</button>
    <button class="btn btn-outline-secondary">French</button>
    <button class="btn btn-outline-secondary">Italian</button>

</div>

<!-- recipes -->
<div class="row">

    <!-- recipes bl ng-->

    <!-- <div *ngFor="let a of recipes" class="col-3">
<div class="card">
<img src="assets/x.jpg" class="card-img-top " alt="Recipe Image">
<div class="card-body">
<h5 class="card-title">Special Salad Chicken</h5>
<p class="card-text">***** (7 Reviews)</p>
<a href="#" class="btn btn-primary">View Recipe</a>
</div>

</div>
</div> -->



    <div class="col-3">
        <div class="card">
            <img src="assets/x.jpg" class="card-img-top " alt="Recipe Image">
            <div class="card-body">
                <h5 class="card-title">Special Salad Chicken</h5>
                <p class="card-text">***** (7 Reviews)</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>

        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <img src="assets/x.jpg" class="card-img-top " alt="Recipe Image">
            <div class="card-body">
                <h5 class="card-title">Special Salad Chicken</h5>
                <p class="card-text">***** (7 Reviews)</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>

        </div>
    </div>

    <div class="col-3">
        <div class="card">
            <img src="assets/x.jpg" class="card-img-top " alt="Recipe Image">
            <div class="card-body">
                <h5 class="card-title">Special Salad Chicken</h5>
                <p class="card-text">***** (7 Reviews)</p>
                <a href="#" class="btn btn-primary">View Recipe</a>
            </div>
        </div>

    </div>

</div>
