
.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: #f1efef;
  }
  
  
  
  .content-container {
    display: flex;
    flex: 1;
  }

  .cat-menu{
    margin-left: 0px;
    margin-right: 17px;
  }
  
  
  
  .recipes-list {
    flex: 1;
      max-width: 720px;
      margin: auto; 
      margin-left: 57px;
      margin-top: 10px;
      
  }
  
  .profile {
    width: 300px; 
    margin: 20px 75px;
  }
  
  