<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<body>
   <div class="container bootdey">
      <div class="col-md-12 bootstrap snippets">
         <div class="panel" style="width: 110%;" *ngIf="user">
            <div class="panel-body">
               <form action="" [formGroup]="postForm">
                  <input class="form-control" rows="2" placeholder="What are you thinking?" name="title" formControlName="title">
                  <input class="form-control" rows="2" placeholder="Details" name="description" formControlName="description">
                  <div class="mar-top clearfix">
                     <button class="btn btn-sm btn-primary pull-right" (click)="addPost()"><i class="fa fa-pencil fa-fw"></i>
                        Share</button>
                     <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
                  </div>
               </form>
            </div>
         </div>




         <div class="timeline-body" style="margin-left: 15%;width: 110%;" *ngFor="let p of posts;index as i;">
            <div class="timeline-header">
               <span class="userimage"><img [src]="user.pic" alt=""></span>
               <span class="username"><a href="javascript:;">{{p.user.fullname}}</a> <small></small></span>
               <span class="pull-right text-muted">{{p.date}}</span>
            </div>
            <div class="timeline-content">
               <p style="font-weight: bold;">
                  {{p.title}}
               </p>
            </div>
            <div class="timeline-content">
               <p>
                  {{p.description}}
               </p>
            </div>
            <div class="timeline-likes">
               <div class="stats-right">
                  <span class="stats-text">{{p.comments.length}} Comments</span>
               </div>
               <div class="stats" *ngIf="p.nbLikes!=0">
                  <span class="fa-stack fa-fw stats-icon" >
                     <i class="fa fa-circle fa-stack-2x text-primary"></i>
                     <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="stats-total">{{p.nbLikes}}</span>
               </div>
            </div>
            <div class="timeline-footer">
               <button  class="btn"><i
                     class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</button>
            </div>
            <div class="timeline-content" *ngFor="let c of p.comments">
               <p>
                  {{c.description}}
               </p>
            </div>
            <div class="timeline-comment-box" *ngIf="user">
               <div class="user"><img [src]="user.pic"></div>
               <div class="input">
                  <form action="">
                     <div class="input-group">
                        <input type="text" class="form-control rounded-corner" placeholder="Write a comment..." #comment>
                        <span class="input-group-btn p-l-10">
                           <button class="btn btn-primary f-s-12 rounded-corner" type="button" (click)="addComment(p.id,comment.value,i)">Comment</button>
                        </span>
                     </div>
                  </form>
               </div>
            </div>
         </div>



      </div>
   </div>

</body>