<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<body>
<div class="container bootdey">
<div class="col-md-12 bootstrap snippets">
<div class="panel" style="width: 110%;">
  <div class="panel-body">
    <textarea class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
    <div class="mar-top clearfix">
      <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
      <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
      <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
      <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a>
    </div>
  </div>
</div>





<div class="container mt-4 mb-4 p-3 d-flex justify-content-center" >
   <div class="card1 p-4" id="profile">
     <div class=" image d-flex flex-column justify-content-center align-items-center">
       <button class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /></button>
        <span class="name mt-3">Flena </span> <span class="idd">@xxxxx</span> 
     
        <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
          
         </div> <div class=" d-flex mt-2"> <button class="btn1 btn-dark">View Profile</button> </div> <div class="text mt-3">
         </div> <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div> <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div> </div> </div>
</div>



<div class="timeline-body" style="margin-left: 15%;width: 110%;">
  <div class="timeline-header">
     <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""></span>
     <span class="username"><a href="javascript:;">Flena Ngu</a> <small></small></span>
     <span class="pull-right text-muted">18 Views</span>
  </div>
  <div class="timeline-content">
     <p>
        Bonjour avez vous des bons plans pour une pizza ?
     </p>
  </div>
  <div class="timeline-likes">
     <div class="stats-right">
        <span class="stats-text">259 Shares</span>
        <span class="stats-text">21 Comments</span>
     </div>
     <div class="stats">
        <span class="fa-stack fa-fw stats-icon">
        <i class="fa fa-circle fa-stack-2x text-danger"></i>
        <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
        </span>
        <span class="fa-stack fa-fw stats-icon">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
        </span>
        <span class="stats-total">4.3k</span>
     </div>
  </div>
  <div class="timeline-footer">
     <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like</a>
     <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
     <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
  </div>

  <div class="timeline-comment-box">
    <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
    <div class="input">
       <form action="">
          <div class="input-group">
             <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
             <span class="input-group-btn p-l-10">
             <button class="btn btn-primary f-s-12 rounded-corner" type="button">Comment</button>
             </span>
          </div>
       </form>
    </div>
 </div>
</div>



</div>
</div>

</body>